.search-bar {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  @media (max-width: 480px) {
    grid-column: 1 / -1;
    grid-row: span 1 / -1;
  }
  display: flex;
  background-color: #F1C40F;
}

label { display: none; }

input[type=text],
button {
  border: 0;
  outline: 0;
  background-color: goldenrod;
}

input[type=text] {
  flex: 1 0 50%;
  width: 99%;
  padding: 5px 1%;
}

button {
  padding: 0 8px;
  flex: 0 0 30px; 
}

.lists {
  grid-column: span 1 / -1;
  grid-row: 1 / span 1;
  display: flex;
  flex-flow: column;
  text-align: right;
  background-color: goldenrod;
  @media (max-width: 480px) {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
    display: inline-block;
  }
  button {
    // margin: 10px;
    text-align: right;
  }
}

i::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
