$main: 'Roboto Mono', monospace;
 
html {
    font-size: 62.5%;
}


body {
    font-size: 1.8rem;
    font-family: $main;
}

* { font-family: $main; }

input {
    font-family: inherit;
}

button {
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
}