@import './utils.scss';

html {
    font-size: 62.5%;
}

body {
    color: $black;
    font-size: 1.6rem;
    font-family: $body;
}

h1, h2 {
	margin: 0;
    padding: 0;
	display: block;
}

h1 {
    font-family: $display;
    font-size: 14rem;
    text-transform: uppercase;
    @media (max-width: 480px) {
        font-size: 6rem;
    }
}

h2 {
    font-weight: 500;
    @media (max-width: 480px) {
        font-size: 2rem;
    }
}

* { font-family: $body; }

input, button {
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 500;
}

button {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    & .close {
        text-transform: lowercase;
    }
}

.title {
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}


.rank, .rank > p {
    font-family: $display;
	font-size: 14rem;
    color: $accent;
}

.pick .rank {
    font-size: 7rem;
    color: $whiteclear;
}
