/* 
body {
  margin: 0;
  padding: 0;
}

.App {
  margin: 0;
  width: 100vw;
  height: 100vh;
  height: 100%;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr;
  font-family: sans-serif;
}

input {
  margin: 5px;
	font-family: 'Roboto Mono', monospace;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: #FFFFFF80;
	border: none;
	outline: none;
}

button {
	font-family: 'Roboto Mono', monospace;
	font-weight: 700;
	letter-spacing: 1px;
	background: #FFFFFF80;
	border: none;
  outline: none;
  
}

.search-bar {
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  background-color: #F1C40F;
}

label {
  display: none;
}

.search-results {
  grid-column: 1 / -1;
  grid-row: 1 / -1; 
  margin: auto;
  padding: 50px 10px;
  display: flex;
  flex-flow: row wrap;
  align-content: start;
  background-color: #56657380;
}

.movie-thumb {
  width: 80px; 
  height: 120px;
  margin: 10px;
  background-size: cover;
} */
